.bottom{
   width:944px;
    margin:0 auto;
    padding:26px 8px;
}
.bottom_left{
    width:80%;
}
.banquan{
    background:url("../img/bottom/footlink_pic_7.gif") no-repeat scroll;
    width:193px;
    height: 11px;
    line-height: 11px;
    display: inline-block;
    margin-left: 9px;
    padding-left: 9px;
    padding-right: 12px;

}
.jingbei{
    margin-left:-16px;
    padding-right: 50px;
}
.jingbei a{
    background: url("../img/bottom/footlink_pic_4.gif") no-repeat scroll;
    width:103px;
    height: 11px;
    margin-left: 15px;
    display: inline-block;
}
.jingbei a:hover{
    background-position: 0 -11px;
}
.chenxin{
    margin-left: -2px;
    padding-right: 12px;
}
.chenxin a{
    background:url("../img/bottom/footlink_pic_5.gif") no-repeat scroll;
    width:61px;
    height: 11px;
    margin-left: 5px;
    display: inline-block;
}
.chenxin a:hover{
    background-position: 0 -11px;
}
.bottomLink{
    margin-left: 6px;
    margin-top:15px;
}
.bottomLink ul li{
    margin-right: 26px;

}
.bottomLink ul li .respon{
    background:url("../img/bottom/footlink_pic_1.gif") no-repeat 0 -14px;
    display:block;
    width:50px;
    height:14px;
}
.bottomLink ul li .quanzhan{
    background:url("../img/bottom/footlink_pic_2.gif") no-repeat 0 -14px;
    display:block;
    width:48px;
    height:14px;
}
.bottomLink ul li .suoyou{
    background:url("../img/bottom/footlink_pic_3.gif") no-repeat 0 -14px;
    display:block;
    width:89px;
    height:14px;
}
.bottomLink ul li a:hover{
    background-position:0 0;
}
.bottomLink ul li p{
    font-size:12px;
    color:#787878;
}
.bottomLink ul li p:last-child{

    margin-right:0;
    margin-top:10px;
    line-height:14px;
    width:410px;
}
.bottom_right{
    margin-top:20px;
    margin-right:-8px;
}
.bottom_right a{
    background:url("../img/bottom/index_share_bg.gif");
    width:30px;
    height:30px;
    padding-left:3px;
}
a.share_sina{
    background-position: -5px -5px;
}
.share_sina:hover{
    background-position: -5px -45px;
}
a.share_qq{
    background-position: -38px -5px;
}
.share_qq:hover{
    background-position: -38px -45px;
}
a.share_sohu{
    background-position: -71px -5px;
}
.share_sohu:hover{
    background-position: -71px -45px;
}
a.share_renren{
    background-position: -104px -5px;
}
.share_renren:hover{
    background-position: -104px -45px;
}
a.share_kaixin{
    background-position: -137px -5px;
}
.share_kaixin:hover{
    background-position: -137px -45px;
}